In [22]:
import pandas as pd
import numpy as np
import sqlalchemy as sa
import matplotlib.pyplot as plt
import sqlite3 as sql
conn = sql.connect('archivos/incidencias.db')

In [ ]:
df = pd.read_sql('SELECT * FROM registros ', sql.connect('archivos/incidencias.db'))
df

In [ ]:
df = pd.read_sql("SELECT * FROM registros where fechaOc between '2017-01-01' and '2022-12-31' and servicio != 'CASETAS'", conn)
df

In [ ]:
df['importe'] = df['importe'].astype('float')
df

In [ ]:
df[df.duplicated('titular',keep=False)]

In [46]:
telefono = df[df.duplicated(['telefono'], keep = False)]
titular = df[df.duplicated(['titular'], keep = False)]
noPoliza =df[df.duplicated(['noPoliza'], keep = False)]
placa = df[df.duplicated(['placa'], keep = False)]
final = pd.concat([telefono,titular,noPoliza,placa])

with pd.ExcelWriter('duplicados.xlsx') as writer:
    final.to_excel(writer, sheet_name = 'Duplicados', index = False)
    telefono.to_excel(writer, sheet_name = 'Telefono', index = False)
    titular.to_excel(writer, sheet_name = 'Titular', index = False)
    noPoliza.to_excel(writer, sheet_name = 'NoPoliza', index = False)
    placa.to_excel(writer, sheet_name = 'Placa', index = False)

In [62]:
telefono

,fechaOc,servicio,nombreCliente,titular,noPoliza,cabina,origen,importe,telefono,placa
565,2020-04-29 00:00:00,GRUA,GONER,Russell Wolf,16470410 6679,RAMIRO,553-3973 In Ave,NaN,552-341-7754,M7J 0D1
748,2020-11-06 00:00:00,PAGO DIRECTO,GENERAL MOTORS,Belle Guthrie,24356737 0546,SUEMY,8797 Gravida. Av.,NaN,557-724-4451,V0G 6B5
4038,2019-07-09 00:00:00,PAGO DIRECTO,GENERAL MOTORS,Cole Stuart,22181281 1045,CESAR,742-9628 Fusce Road,NaN,552-341-7754,Z1G 2X5
4489,2019-08-29 00:00:00,PAGO DIRECTO,MAZDA,Eve Jones,29482437 4135,TANIA,501-415 Ipsum Road,NaN,559-505-0246,N1M 3K7
14228,2018-07-31 00:00:00,PAGO DIRECTO,SEGUROS ATLAS,Pandora Gates,56172627 2942,EDGAR,774-6590 In Street,NaN,555-365-2777,Q3W 2X3
16043,2020-01-24 00:00:00,GRUA,GONER,Kenneth Mccarty,33609448 1982,TANIA,573-9469 Imperdiet Street,NaN,551-228-1681,I9C 6F9
22123,2018-05-05 00:00:00,URGENCIAS HOSPITAL,SEGUROS ATLAS,Elvis Reilly,03476172 2636,MARISOL,548-6926 Quisque Street,NaN,551-228-1681,S1Y 5N6
22187,2020-01-26 00:00:00,GRUA,SEGUROS ATLAS,Kenneth Gonzalez,52905712 6312,MARISOL,"P.O. Box 776, 7310 Non, St.",NaN,559-505-0246,U1X 5V7
24441,2021-05-19 00:00:00,URGENCIAS HOSPITAL,GENERAL MOTORS,Robert Lopez,04617575 4818,CESAR,Ap #970-4405 Aenean Rd.,NaN,557-724-4451,X6R 9X3
25571,2018-11-27 00:00:00,COMBUSTIBLE,SEGUROS ATLAS,Raja Alston,39778354 5960,EDGAR,"296-6538 A, Avenue",NaN,555-365-2777,U9E 5E1

In [67]:
placa.groupby('placa').sum('importe')

         importe
placa
C3L 2D3  17048.0
C6P 1O5  12300.0
E1T 3N7  12489.0
F2K 3Q4  12176.0
F2S 4D0  12667.0
G4K 4F2   5481.0
G5O 7Q8   2501.0
H7L 5T6   4484.0
I3Z 8U4  11670.0
I7H 3N1   8275.0
L4K 3V8  10830.0
L7F 3E8   6502.0
M5B 1N1   9670.0
N2I 3G7  11314.0
N2P 1W3  12229.0
O8N 3M1  11043.0
R7K 9X0   4425.0
S6W 2I7  12015.0
U2R 3Q5  17575.0
U3Y 6P9   3904.0
V3M 3Y9  10426.0
W2F 2O6   8411.0
Y8N 8K8   7822.0